$accent:#169CEE;
$accent-light: rgba(22, 156, 238, 0.55);
$accent-light-other: rgba(14, 105, 161, 0.55);
$text: #66637A;
$border: #E0E0EA;
$off-white: #fcf9f4;
$bg-off: rgba(14, 105, 161, 0.06);
$text-light: rgba(118, 140, 151, 0.5);
$bg: #ffffff;